* {
    box-sizing: border-box;  /*width와height                      padding과 border크기를 포함하도록(margin값제외)*/
}
.all {
    width: 900px;   /*모든 content를 가로 900px안에 넣을 것*/
    margin: 0 auto;  /*좌, 우에 margin auto값을 주어 중앙에 오도록 */
	height: 550px; 
    text-align: center;  /*중앙 정렬*/
}
.icon {
    position: relative;  /*absolut의 기준이 되는 상대적 포지션*/
}
input{
    width: 80%;
    height: 55px;
    border-radius: 30px;
    border: 1.5px solid #EDEDED;
}
.search {
    position: absolute;  /*relative가 되는 부모 div .icon요소를 기준으로 */
    top: 19px;            /*위에서 12px 왼쪽에서20px*/
    left: 110px;
    color: #AAAAAA;
}
.keyboard{
    position: absolute;
    top: 19px;
    right: 140px;
}
.mic {
    position: absolute;
    top: 19px;
    right: 110px;
    color: #4F86EC;
}
.button {
    padding: 13px;
    margin: 15px 3px 10px 3px;
    background-color: #F4F4F4;
    border: none;
    color: #6e6a6a;
    font-weight: 500;
}
a {
    color: #4d4fcf;
}
p {
    font-weight: bold;
    font-size: small;
}